.aboutus {
    background-image: url('../images/About-Us-banner1.png');
    background-size: 100%;
    color: #FFF;
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;

    .aboutus-sm { padding-top: 94px;
    padding-bottom:94px; }
    .aboutus small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    font-weight: 500;
    font-size: 16px;
    font-weight: bold; 
    }

}