.jumbotron {
    background-image: url('../images/contactus.jpeg');
    background-size: 100%;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 94px;
    padding-bottom:94px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }