.footer {
    grid-area: gooter;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EFEFEF;
    color: white;
    align-content: center;

    p {
        grid-area: footer;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #455367;
        text-align: center;
    }
    
  }