.headerproduct {
    background-image: url('../images/datacenter.jpg');
    background-size: 100%;
    font-family: "Kanit", sans-serif;
    color: #333;
    border-radius: 0px;
    }
    .headerproduct-sm { padding-top: 94px;
    padding-bottom:94px; }
    .headerproduct small {
    color: #333; 
    }
    .h1 small {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 100px; 

    }
